# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Obsidian
.obsidian/workspace.json
.obsidian/workspace-mobile.json
.obsidian/workspace.json.bak

# Editor
*.swp
*.swo
*~
.idea/
.vscode/

# Temporary
*.tmp
*.bak
